*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}


body{
  font-family: 'Raleway', sans-serif;
  background-image: url("img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* NAVBAR */

header{
  width: 100%;
  height: 10vh;
  margin: auto;
  background-color: transparent;



  .logo-container{
    color: #E1E2E2;
    padding-left: 20px;

    .logo-img{
      height: 5vh;
    }
  }
}

nav{
  padding-bottom: 5vh;
  display: flex;

  a.icon{
    display: none;

  }
      .nav-links{
        display: flex;
        justify-content: flex-end;
        list-style: none;
        padding: 3vh;

        .nav-link{
          color: #E1E2E2;
          font-size: 18px;
          text-decoration: none;
          padding-left: 40px;
          border-bottom: 1px solid #edf5e1;

          &:hover{
          color: #501b1d;
          font-weight: bold;
          }
        }
      }
}

/* CONTENT UNDER NAVBAR */


.landing-container{
  background-color: red;
  height: 100vh;

}



.about-container{

  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  height: 100vh;


}

.about-container, p{
  color: white;
}

.top-text{
  margin: auto;
  width: 20em;
}

.left-side{
  padding-left: 5%;
  padding-top: 10%;
  width: 50%;
}

.right-side{
  padding-right: 5%;
  width: 50%;
  float: right;
}

/* RWD DISPLAY */

@media screen and (max-width: 600px) {
  .toggle-nav-bar{
      .nav-links{
        display: none;
      }
  }


  .toggle-nav-bar a.icon {
    display: flex;

    height: auto;
    font-size: 5vh;
    color: #edf5e1;

  }

  .toggle-nav-bar.responsive{
    height: auto;

      .nav-links{
        display: flex;
        flex-direction: column;
        font-size: 8vh;
        align-items: center;
      }
  }

  .toggle.nav-bar.responsive, .nav-links{
    flex-direction: column;
    justify-content: flex-start;
  }
}














